/*
 *
 * This is a basic CSS template for use with your catalog.
 * Please include additional style definitions in other files, and
 * keep this file as simple as possible.
 *
 * Tuning tips:
 *  * Change all occurences of 220px to some other number to change width of left navigation.
 *  * Change all occurences of 27% to some other number to change width of right navigation.
 * 
 *
 */

/*
 * Page layout and general stuff
 */

body {
	margin: 0;
	padding: 0;
}
img {
	border: 0;
}
div#header {
	position:relative;
}
div#wrapper {
	float:left;width:100%;
}
div#body {
	margin: 0 27% 0 220px;
}
div#left {
	float:left;
	width:220px;
	margin-left:-100%;
}
div#right {
	float:left;
	width:27%;
	margin-left:-27%;
}
div#footer {
	clear:left;
	width:100%;
}


/*
 * Basic layout building blocks
 */

.rowOfBoxes {
	clear: both;
}

.quarter, .oneThird, .half, .twoThirds, .fullWidth {
  margin: 1em 0;
  float: left;
}

.quarter {
  width: 21%;
  padding: 0 1.9%;
}

.oneThird {
  width: 28%;
  padding: 0 1.9%;
}

.half {
  width: 46%;
  padding: 0 1.9%;
}

.twoThirds {
  width: 63%;
  padding: 0 1.9%;
}

.fullWidth {
  width: 96%;
  padding: 0 1.2em;
  border-left: none;
}

.noBorderOnLeft {
  border-left: none;
}

.dividingBorderAbove {
  border-top: 1px;
}
